@import url("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

button{
  background:#16639B;
  color:#fff;
  border:none;
  position:relative;
  height:50px;
  line-height: 50px;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 3px;
}
button:hover{
  background:#fff;
  color:#16639B;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:3px;
  width:0;
  background: #16639B;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}